<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.nougust3.replica">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".Keep"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".View.Activity.EditorActivity"
            android:windowSoftInputMode="stateHidden"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Activity.HomeActivity"
            android:label="Replica"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Activity.TrashActivity"
            android:label="@string/title_activity_trash"
            android:theme="@style/AppTheme"
            android:parentActivityName=".View.Activity.HomeActivity"/>
        <activity
            android:name=".View.Activity.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme" />
        <activity android:name=".View.Activity.ParserActivity" android:parentActivityName=".View.Activity.HomeActivity"/>
        <activity android:name=".View.Activity.NotebooksActivity" android:parentActivityName=".View.Activity.HomeActivity"/>
        <activity android:name=".View.Activity.NotesActivity" android:parentActivityName=".View.Activity.NotebooksActivity"/>
        <activity android:name=".View.Activity.BaseActivity" />
        <activity
            android:name=".View.Activity.SettingsActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>